.allInBanner {
    padding-bottom: 100px;
}
.allInBannerHeading {
    margin-bottom: 72px;
}
.allInBannerHeading h1 {
    margin-bottom: 45px;
}
.allInBannerHeading h1 span span {
    color: #FF7919;
}

.allInBannerHeading p span {
    font-size: 32px;
    font-weight: 600;
    color: #09090B;
}
.allInBannerHeading p span span {
    color: #FF7919;
}

.allInBannerHeading p {
    font-size: 24px;
    color: #09090B;
    margin-bottom: 34px;
}
.allInBannerHeadLastPara {
    max-width: 925px;
    margin: 0 auto;
}




.allInBannerPost {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 40px;
    border-radius: 30px;
    background-color: #BADEFF;
}

.allInBannerPostLeft {
    width: 63%;
    padding-right: 50px;
}
.allInBannerPostLeft h3 {
    font-size: 44px;
    color: #184463;
    margin-bottom: 30px;
}

.allInBannerPostLeft h3 span {
    font-family: "Sharp Grotesk Medium 20 Regular";
    /* font-weight: 600; */
}

.allInBannerPostLeft ol {
    padding-left: 22px;
}
.allInBannerPostLeft ol li {
    list-style: auto;
    font-size: 18px;
    color: #09090B;
    margin-bottom: 16px;
}


.allInBannerPostLeft a {
    font-size: 32px;
    font-weight: 800;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
    margin-top: 30px;
    display: block;
}





.allInBannerPostRight {
    width: 37%;
    padding-left: 40px;
}
.allInBannerPostRight img {
    width: 100%;
}






.allInBanner .bannerFloat2 {
    left: 12%;
    bottom: unset;
    top: 336px;
}
.allInBanner .bannerFloat3 {
    top: 315px;
    right: 5%;
}
.allInBanner .bannerFloat4 {
    bottom: 250px;
}











.allInServices {
    padding: 25px 0;
}

.allInSingleService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}


.allInSerText {
    width: 45%;
}
.allInSerText h3 {
    font-size: 56px;
    color: #184463;
    margin-bottom: 8px;
}
.allInSerText h3 span {
    color: #FF7919;
}
.allInSerText h4 {
    font-size: 28px;
    color: #184463;
    margin-bottom: 8px;
}
.allInSerText p {
    font-size: 18px;
    color: #09090B;
}




.allInSerImg {
    width: 45%;
}
.allInSerImg img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}







.allInTemplate {
    padding: 120px 0;
    position: relative;
}
.allInTemplate .container {
    position: relative;
    z-index: 9;
}

.allInTemFloat {
    position: absolute;
    top: 50px;
    right: 0;
}


.allInTempHeading {
    text-align: center;
    margin-bottom: 36px;
}
.allInTempHeading span {
    font-size: 16px;
    display: inline-block;
    padding: 13px 20px;
    background-color: #FF7919;
    color: #FAFAFA;
    border-radius: 18px;
    margin-bottom: 20px;
}

.allInTempHeading h2 {
    font-size: 55px;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
}




.allInTemContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.allInTemSingleCon {
    width: calc(100% / 4 - 18px);
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 12px;
    padding: 26px 24px;
}

.allInTemConHeading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.allInTemConHeading span {
    width: 46px;
    height: 46px;
    border-radius: 8px;
    background-color: #FFF3E9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.allInTemConHeading h3 {
    font-size: 22px;
    color: #184463;
}


.allInTemSingleCon p {
    font-size: 17px;
    color: #09090B;
    line-height: 160%;
}








.allInSystem {
    margin-bottom: 75px;
    position: relative;
}
.allInSystem .container {
    position: relative;
    z-index: 9;
}
.allInSystem h2 {
    font-size: 48px;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
    text-align: center;
    margin-bottom: 43px;
}

.allInSystem h2 span {
    color: #FF7919;
}



.allInSysFormTop {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.allInSysFormInp {
    width: calc(100% - 12px - 161px);
    position: relative;
}

.allInSysFormInp input {
    width: 100%;
    height: 68px;
    background-color: #fff;
    color: #09090B;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 4px;
    padding-left: 16px;
    padding-right: 62px;
    border: 1px solid #E5E5E5;
}
.allInSysFormInp input::placeholder {
    font-size: 16px;
    color: #09090B;
}

.allInSysFormInp button {
    width: 55px;
    height: calc(100% - 8px);
    background-color: #FF7919;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: 4px;
}


.allInSysFormSel {
    width: 161px;
    height: 66px;
    position: relative;
}

.allInSysFormSel select {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 17px;
    font-size: 16px;
    color: #09090B;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    -webkit-appearance: none;
}
.allInSysFormSel img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}





.allInSysFormBottom {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.allInSysFormBottom textarea {
    width: 100%;
    height: 377px;
    border: none;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    color: #09090B;
    border: 1px solid #E5E5E5;
    margin-bottom: 31px;
}

.allInSysFormBottom textarea::placeholder {
    font-size: 16px;
    color: #09090B;
}


.allInSysFormBottom p {
    font-size: 12px;
    color: #09090B;
    text-align: center;
    margin-bottom: 63px;
}

.allInSysFormBottom button {
    width: 306px;
    height: 56px;
    background-color: #184463;
    color: #FAFAFA;
    border-radius: 20px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}




.allInSysFloat {
    position: absolute;
    bottom: -130px;
    right: 0;
}









.allInFaq {
    position: relative;
}
.allInFaqFloat {
    position: absolute;
    top: 270px;
    left: 0;
}