.apiDevBanner h1 {
    font-size: 48px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}


.backBtn {
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 75px;
    left: 80px;
    z-index: 10;
}



.apiDevContent {
    max-width: 1117px;
    width: 100%;
    margin: 0 auto;
    text-align: start;
}
.apiDevSingleCon {
    margin-bottom: 40px;
}


.apiDevSingleCon h3 {
    font-size: 24px;
    color: #184463;
    margin-bottom: 20px;
}


.apiDevConItem {
    width: 100%;
    background-color: #fff;
    padding: 17px 16px;
    border-radius: 12px;
}

.apiDevConItem p a {
    color: #FF7919;
    text-decoration: underline;
}






.apiDevConItemInner {
    margin-bottom: 18px;
}
.apiDevConItemInnerLast {
    margin-bottom: 10px;
}
.apiDevConItemInner h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.apiDevCodeWrap {
    width: 100%;
    background-color: #09090B;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #fff;
}

.apiDevCodeWrap button {
    font-size: 14px;
    padding: 8px;
    background-color: #fff;
    border-radius: 5.5px;
    margin-right: 12px;
}





.apiDevConItemTabRow {
    width: 100%;
    min-height: 62px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}
.apiDevConItemTabRow:last-child {
    border-bottom: unset;
}

.apiDevConItemTabCell {
    width: 20.5%;
    padding: 5px 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.apiDevConItemTabCell:last-child {
    width: 59%;
}










.apiDevBanner .bannerFloat4 {
    bottom: unset;
    top: 850px;
}