.blogBanner {
    padding-bottom: 150px;
}
.blogBanner h1 {
    margin-bottom: 12px;
}

.blogBanner p {
    color: #09090B;
    margin-bottom: 44px;
}




.blogBanner .bannerFloat3 {
    bottom: unset !important;
    top: 285px;
}
.blogBanner .bannerFloat6 {
    left: 16%;
    bottom: 100px;
    transform: translateX(-50%);
}





.blogToggle {
    width: fit-content;
    padding: 8px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 54px;
}

.blogToggle button {
    width: 128px;
    height: 60px;
    background-color: #fff;
    color: #184463;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.blogToggle button img {
    width: 21px;
    margin-right: 8px;
    filter: brightness(1);
    transition: .3s;
}

.blogToggle button.active {
    color: #fff;
    background-color: #184463;
}
.blogToggle button:hover {
    color: #fff;
    background-color: #184463;
}


.blogToggle button.active img {
    filter: brightness(100);
}
.blogToggle button:hover img {
    filter: brightness(100);
}






.blogBanner .latBlogWrap {
    margin-bottom: 77px;
}
.blogBanner .singleLatBlog {
    margin-bottom: 20px;
}
.blogBanner .latBlogText {
    text-align: start;
}
.blogBanner .latBlogText p {
    margin-bottom: 20px;
}




.blogPaginationWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogPaginationWrap button {
    width: 41px;
    height: 41px;
    background-color: #ff00;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #09090B;
    margin: 0 6px;
}

.blogPaginationWrap button.active {
    background-color: #fff;
    border-color: #184463;
}

.blogPaginationWrap button:first-child, .blogPaginationWrap button:last-child {
    border: none;
}

.blogPaginationWrap button:last-child img {
    rotate: 180deg;
}