.devBanner {
    margin-bottom: 150px;
}

.devBanner h5 {
    color: #FF7919;
    margin-bottom: 6px;
    text-align: center;
}

.devBanner h1 {
    font-size: 48px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}



.devContent {
    max-width: 1167px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Create 3 equal columns */
    gap: 12px;
    text-align: start;
}

.devSingleCon {
    padding: 29px 15px;
    background-color: #fff;
    border-radius: 8px;
}
.devSingleCon h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
}

.devSingleCon p {
    color: rgba(0, 0, 0, 0.6);
}