.glossaryBanner {
    padding-bottom: 75px;
}
.glossaryBannerHeading {
    max-width: 977px;
    width: 100%;
    margin: 0 auto;
}
.glossaryBannerHeading h1 {
    margin-bottom: 8px;
}

.glossaryBannerHeading h3 {
    font-size: 18px;
}








.glossaryFilter {
    margin-bottom: 200px;
    position: relative;
}
.glossaryFilterFloat {
    position: absolute;
    right: 0;
    top: 33%;
}
.glossaryFilter .container {
    position: relative;
}
.glossaryFilterHeading ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.glossaryFilterHeading ul li {
    font-size: 28px;
    color: #09090B;
    padding: 3.5px 15px;
    margin-bottom: 10px;
    position: relative;
    line-height: 140%;
    cursor: pointer;
}

.glossaryFilterHeading ul li.active {
    color: #FF7919;
}

.glossaryFilterHeading ul li.active::after {
    width: 100%;
    height: 2px;
    background-color: #FF7919;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
}



.glossaryFilterWrap {
    display: flex;
    justify-content: space-between;
}

.glossaryFilterLeft, .glossaryFilterRight {
    width: calc(50% - 12px);
}


.glossaryFilterText {
    width: 100%;
    background-color: #fff;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.glossaryFilterText ul li {
    font-size: 20px;
    margin-bottom: 8px;
}



.glossaryFilterRight .glossaryFilterText {
    padding-bottom: 22px;
}

.glossaryFilterRight .glossaryFilterText:last-child {
    padding-bottom: 16px;
}