.keyRes2Banner {
    padding-bottom: 110px;
}

.keyRes2Banner h1 {
    margin-bottom: 38px;
}
.keyRes2Banner h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

.keyRes2Banner p {
    max-width: 652px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 47px;
}

.keyRes2Banner ul {
    width: fit-content;
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px;
}

.keyRes2Banner ul li {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 32px;
    color: #184463;
    background-color: #fff;
    border-radius: 12px;
    transition: .3s;
}

.keyRes2Banner ul li.active {
    background-color: #184463;
    color: #fff;
}



.keyRes2Banner .bannerFloat3 {
    bottom: 90px;
}








.keyGuide {
    margin-bottom: 90px;
    position: relative;
}
.keyGuideFloat1 {
    position: absolute;
    top: 65px;
    right: 0;
}
.keyGuideHeading {
    max-width: 959px;
    margin: 0 auto;
    margin-bottom: 57px;
    text-align: center;
    position: relative;
}
.keyGuideHeading h2 {
    font-size: 56px;
    font-family: "Sharp Grotesk Medium 20 Regular";
    margin-bottom: 17px;
    color: #184463;
    position: relative;
}

.keyGuideHeading p {
    font-size: 21px;
    position: relative;
}

.keyGuideFloat2 {
    position: absolute;
    top: -30px;
    left: -110px;
}








.keyGuidePoster {
    background-color: #BADEFF;
    margin-bottom: 88px;
    position: relative;
}
.keyGuidePosFloat {
    position: absolute;
    right: 0;
    top: 0;
}
.keyGuidePosterInner {
    padding: 30px 15px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.keyGuidePosterInner h3 {
    font-size: 64px;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
}

.keyGuideText {
    margin-bottom: 40px;
}
.keyGuideText h3 {
    font-size: 44px;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
    margin-bottom: 24px;
}


.keyGuideText p {
    font-size: 24px;
    margin-bottom: 12px;
}

.keyGuideText p span {
    font-weight: 600;
}




.keyGuideText h4 {
    font-size: 32px;
    margin-bottom: 24px;
    color: #184463;
}


.keyGuideText ul {
    padding-left: 30px;
}
.keyGuideText ul li {
    font-size: 24px;
    margin-bottom: 12px;
    list-style: initial;
}





.keyGuideTextSpe {
    margin-top: 56px;
    margin-bottom: 88px;
}





.keyGuideTip {
    width: 100%;
    background-color: #184463;
    border-radius: 30px;
    padding: 60px;
    margin-bottom: 72px;
}

.keyGuideTip h3 {
    font-size: 44px;
    color: #FF7919;
    margin-bottom: 26px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}


.keyGuideTip p {
    font-size: 24px;
    margin-bottom: 28px;
    color: #fff;
}

.keyGuideTip p span {
    font-weight: 600;
}



.keyGuideText ol {
    margin-top: 36px;
    padding-left: 30px;
}
.keyGuideText ol li {
    font-size: 24px;
    margin-bottom: 20px;
    list-style: inherit;
}