.loginBanner {
    padding-bottom: 125px;
}


.loginBannerContent {
    padding: 0 70px;
    text-align: start;
    position: relative;
}
.loginBanner .loginFormWrap {
    width: 100%;
    max-width: 612px;
    border-radius: 20px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    position: relative;
    z-index: 9;
}

.loginBanner form {
    width: 100%;
    max-width: unset;
    height: fit-content;
    border-radius: unset;
    display: block;
    background-color: unset;
    padding: 0;
    /* margin-bottom: 40px; */
}
.loginBanner form h3 {
    font-size: 36px;
    color: #184463;
    margin-bottom: 42px;
}

.loginBanner form .loginInpItem {
    margin-bottom: 20px;
}
.loginBanner form .loginInpItem label {
    font-size: 18px;
    color: #09090B;
    display: block;
    margin-bottom: 12px;
}


.loginBanner form .loginInpItem input {
    width: 100%;
    height: 64px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1.5px solid #DDDDDD;
    background-color: #fff;
}
.loginBanner form .loginInpItem textarea {
    width: 100%;
    height: 130px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1.5px solid #DDDDDD;
    background-color: #fff;
}




.loginRemember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.loginRememberLeft {
    display: flex;
    align-items: center;
}

.loginBanner form .loginRememberLeft input {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.loginRememberLeft label {
    font-size: 18px;
    color: #09090B;
    margin-bottom: -4px;
}
.signupRememberLeft label {
    font-size: 14px;
}
.signupRememberLeft label a {
    color: #FF7919;
    text-decoration: underline;
    font-size: 14px;
}


.loginRemember a {
    font-size: 18px;
    color: #FF7919;
    text-decoration: underline;
}




.loginBanner form button {
    width: 100%;
    height: 64px;
    border-radius: 12px;
    background-color: #184463;
    color: #fff;
    font-size: 22px;
}




.loginCont {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.loginCont::before {
    width: 100%;
    height: 1.5px;
    background-color: #DDDDDD;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.loginCont span {
    width: fit-content;
    display: block;
    background-color: #fff;
    padding: 0 22px;
    position: relative;
    z-index: 9;
}






.loginContBtn button {
    width: 100%;
    height: 64px;
    border-radius: 11px;
    background-color: #09090B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 16px;
}

.loginContBtn button img {
    margin-right: 12px;
}





.bannerLoginConFloat {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
}


.loginBanner .bannerFloat4 {
    bottom: unset;
    top: 620px;
}