.pricingBanner {
    padding-bottom: 127px;
}

.pricingConHeading {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.pricingBanner h1 {
    margin-bottom: 12px;
}
.pricingBanner p {
    color: #09090B;
}






.pricingToggle {
    width: fit-content;
    padding: 8px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 62px;
}

.pricingToggle button {
    width: 119px;
    height: 48px;
    background-color: #fff;
    color: #184463;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}


.pricingToggle button.active {
    color: #fff;
    background-color: #184463;
}
.pricingToggle button:hover {
    color: #fff;
    background-color: #184463;
}






.pricingBuyWrap {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 87px;
    position: relative;
}
.priceBuyFloat {
    position: absolute;
    left: -90px;
    bottom: -40px;
    rotate: 20deg;
}
.pricingSingleBuy {
    width: calc(50% - 16px);
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    padding: 28px;
    position: relative;
    box-shadow: 0px 5px 32px 0px #A1967929;
}
.pricingBuyTop {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    text-align: end;
}
.pricingBuyTop h3 {
    font-size: 38px;
    color: #184463;
    margin-bottom: 16px;
}
.pricingBuyTop span {
    font-size: 22px;
    color: #FF7919;
}





.pricingBuyInfo {
    padding: 24px 0;
    border-bottom: 3px solid #FFF3E9;
}
.pricingBuyInfoEnd {
    border-bottom: unset;
}
.pricingSingleBuy h4 {
    font-size: 24px;
    color: #184463;
    margin-bottom: 16px;
    padding: 0;
    display: block;
    border-radius: unset;
    background-color: unset;
    text-align: start;
}


.pricingSingleBuy ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.pricingSingleBuy ul li {
    font-size: 22px;
    color: #184463;
}
.pricingSingleBuy ul li p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #09090B;
}
.pricingSingleBuy ul li p img {
    margin-right: 8px;
}




.pricingSingleBuy button {
    width: 100%;
    height: 56px;
    border-radius: 20px;
    background-color: #184463;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}







.pricingBuyTable {
    max-width: 1000px;
    margin: 0 auto;
    text-align: start;
}
.pricingBuyTabHeading {
    display: flex;
    margin-bottom: 16px;
}
.pricingBuyTabHeading span {
    width: calc(100% / 3);
    font-size: 28px;
    color: #FF7919;
    padding: 0 20px;
}

.pricingBuyTable h3 {
    font-size: 32px;
    color: #184463;
    margin-bottom: 20px;
}


.pricingBuyTabWrap {
    margin-bottom: 44px;
}
.pricingBuyTabRow {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    box-shadow: 0px 5px 32px 0px #A1967929;
}

.pricingBuyTabRow span {
    width: calc(100% / 3);
    display: block;
    font-size: 18px;
    color: #09090B;
    padding: 9px 20px;
}







.pricingBanner .bannerFloat3 {
    bottom: unset;
    top: 280px;
}
.pricingBanner .bannerFloat4 {
    bottom: unset;
    top: 680px;
}








.joinBrand {
    margin-bottom: 115px;
    position: relative;
}
.joinBrand .container {
    position: relative;
    z-index: 9;
}
.joinBrand h2 {
    font-size: 36px;
    color: #184463;
    text-align: center;
    margin-bottom: 32px;
}
.joinBrand h2 span {
    color: #FF7919;
}

.joinBrandWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinSingleBrand {
    width: 200px;
    height: 84px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin: 6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 32px 0px #A1967929;
}

.joinBrandFloat {
    position: absolute;
    top: -70px;
    right: 0;
}







.faq {
    margin-bottom: 190px;
}

.faqContent {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.faqHeading {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.faqHeading h3 {
    width: fit-content;
    color: #fafafa;
    display: block;
    padding: 13px 20px;
    background-color: #FF7919;
    color: #FAFAFA;
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
}


.faqHeading h2 {
    font-size: 66px;
    color: #184463;
    margin-bottom: 12px;
    position: relative;
    z-index: 9;
}

.faqHeading p {
    color: #09090B;
    margin-bottom: 12px;
    position: relative;
    z-index: 9;
}

.faqHeading p span {
    font-size: 20px;
    font-weight: 600;
}

.faqHeadingFloat {
    position: absolute;
    top: 88px;
    left: -64px;
    rotate: -142deg;
    transform: scaleY(-1);
    scale: .8;
}






.accrodionItem {
    width: 100%;
    padding: 32px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
    margin-bottom: 16px;
    box-shadow: 0px 10px 15px -3px #0000001A;
}

.accordionHeading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordionHeading p {
    font-size: 20px;
    color: #184463;
    font-weight: 600;
}

.accordionOpenSign {
    padding-left: 15px;
}



.accordionDesc {
    margin-top: 35px;
    color: #09090B;
    transition: .3s;
}

.accordionDesc.active {
    margin-top: 25px;
}











@media (max-width: 1100px) {
    .pricingBanner p {
        font-size: 14px;
    }


    .pricingBuyTop h3 {
        font-size: 32px;
    }
    .pricingBuyTop span {
        font-size: 18px;
    }

    .pricingSingleBuy h4 {
        font-size: 20px;
    }


    .pricingSingleBuy ul li {
        font-size: 18px;
    }
    .pricingSingleBuy ul li p {
        font-size: 16px;
    }



    .pricingSingleBuy button {
        height: 50px;
        border-radius: 12px;
        font-size: 16px;
    }




    .pricingBuyTabHeading span {
        font-size: 22px;
    }



    .pricingBuyTable h3 {
        font-size: 26px;
    }

    .pricingBuyTabRow span {
        font-size: 16px;
    }




    .joinBrand h2 {
        font-size: 28px;
    }


    .joinBrandWrap {
        flex-wrap: wrap;
    }
    .joinSingleBrand {
        width: 170px;
        height: 70px;
    }



    .faqHeading h3 {
        font-size: 14px;
    }




    .faqHeading h2 {
        font-size: 50px;
    }
    .faqHeading p {
        font-size: 14px;
    }

    .faqHeading p span {
        font-size: 18px;
    }


    .accordionHeading p {
        font-size: 17px;
    }

    .accordionDesc p {
        font-size: 14px;
    }
}




@media (max-width: 700px) {
    .pricingBuyWrap {
        flex-wrap: wrap;
    }
    .pricingSingleBuy {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }
    .pricingBuyTop h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }



    
    .pricingBuyTableWrap {
        overflow-x: auto;
        overflow-y: clip;
    }
    .pricingBuyTable {
        width: 650px;
    }



    .faqHeading h2 {
        font-size: 40px;
    }

    .accrodionItem {
        padding: 32px 20px;
    }
    
}