.reportWebBanner {
    padding-bottom: 95px;
}
.reportWebBanner .container {
    max-width: 1005px;
}

.reportWebBanner h1 {
    margin-bottom: 12px;
}
.reportWebBanner h1 span span {
    color: #FF7919;
}

.reportWebBanner p {
    font-size: 20px;
    color: #09090B;
    margin-bottom: 50px;
}
.reportWebBanner p span {
    color: #FF7919;
}



.reportWebBanner button {
    width: 479px;
    height: 80px;
    background-color: #184463;
    border-radius: 20px;
    font-size: 28px;
    color: #FAFAFA;
}


.reportWebBanner .bannerFloat3 {
    bottom: unset;
    top: 380px;
    right: 7%;
}
.repWebannerFloat6 {
    bottom: 40px;
    left: 6%;
}










.reportWebServices {
    margin-bottom: 110px;
    position: relative;
}

.repWebSerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.repWebSerTopLeft {
    width: calc(64% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
}

.repWebSerTop h3, .repWebSerBottom h3 {
    font-size: 18px;
    color: #184463;
    margin-bottom: 4px;
}

.repWebSerTop p, .repWebSerBottom p {
    color: #09090B;
    margin-bottom: 37px;
}


.repWebSerTop img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}




.repWebSerTopRight {
    width: calc(36% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
}




.repWebSerBottom {
    display: flex;
    justify-content: space-between;
}


.repWebSerBottomLeft {
    width: calc(50% - 12px);
}

.repWebSerBottomLeftItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    padding: 33px;
    margin-bottom: 24px;
}

.repWebSerBottomLeftItemText {
    width: 58%;
    padding-right: 10px;
}

.repWebSerBottomLeftItem img {
    max-width: 42%;
    width: auto;
    display: block;
}


.repWebSerBottomLeftItem:last-child {
    margin-bottom: 0;
}
.repWebSerBottomLeftItem:last-child .repWebSerBottomLeftItemText {
    width: 51%;
}

.repWebSerBottomLeftItem:last-child img {
    max-width: 49%;
}






.repWebSerBottomRight {
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    padding: 33px;
}











.reportWebFact {
    margin-bottom: 110px;
}

.repWebFactContent {
    width: 100%;
    background-color: #184463;
    padding: 50px 99px;
    border-radius: 28px;
    text-align: center;
    position: relative;
}

.repWebFactContent h2 {
    font-size: 48px;
    color: #fff;
    font-family: "Sharp Grotesk Medium 20 Regular";
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

.repWebFactContent h2 span {
    color: #FF7919;
}

.repWebFactContent p {
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 9;
}

.repWebFactContent p span {
    color: #FF7919;
}



.repWebFactFloat {
    position: absolute;
}
.repWebFactFloat1 {
    top: 0;
    left: 0;
}

.repWebFactFloat2 {
    bottom: 0;
    right: 0;
}









.repWebFaq {
    margin-bottom: 110px;
    position: relative;
}

.repWebFaq .container {
    position: relative;
    z-index: 9;
}
.repWebFaq .faqHeading {
    max-width: 936px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
.repWebFaq .faqHeading h2 {
    position: relative;
    z-index: 9;
}
.repWebFaq .faqHeading h2 span {
    color: #FF7919;
    font-family: "Sharp Grotesk Medium 20 Regular";
}
.repWebFaq .faqHeading p {
    max-width: 795px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.reqWebFaqHeadFloat {
    position: absolute;
    bottom: -15px;
    left: -25px;
}

.repWebFaqFloat {
    position: absolute;
    top: 20%;
    right: 0;
}










.repWebFilter {
    margin-bottom: 175px;
}
.repWebFilter img {
    width: 100%;
    max-width: 1188px;
    display: block;
    margin: 0 auto;
}









@media (max-width: 1100px) {
    .reportWebBanner p {
        font-size: 16px;
    }

    .reportWebBanner button {
        width: 340px;
        height: 60px;
        border-radius: 15px;
        font-size: 24px;
    }



    .repWebSerTop h3, .repWebSerBottom h3 {
        font-size: 16px;
    }
    .repWebSerTop p, .repWebSerBottom p {
        font-size: 14px;
    }




    .repWebFactContent h2 {
        font-size: 38px;
    }


    .repWebFactContent p {
        font-size: 26px;
    }



    .repWebFaq .faqHeading h2 {
        font-size: 50px;
    }

    .repWebFaq .faqHeading p {
        font-size: 14px;
    }


    
}




@media (max-width: 950px) {
    .reportWebBanner .bannerFloat4 {
        bottom: -110px;
    }
}




@media (max-width: 700px) {
    .reportWebBanner button {
        width: 300px;
        height: 55px;
        font-size: 22px;
    }
    .repWebannerFloat6 {
        width: 150px;
        left: 2%;
    }
    .repWebSerTop {
        flex-wrap: wrap;
    }
    .repWebSerTopLeft {
        width: 100%;
        margin-bottom: 20px;
    }

    .repWebSerTopRight {
        width: 100%;
    }


    .repWebSerBottom {
        flex-wrap: wrap;
    }

    .repWebSerBottomLeft {
        width: 100%;
        margin-bottom: 20px;
    }
    .repWebSerBottomLeftItem {
        margin-bottom: 20px;
    }

    .repWebSerBottomRight {
        width: 100%;
    }



    .repWebFactContent {
        padding: 30px 40px;
    }


    .repWebFactContent p {
        font-size: 22px;
    }


    .repWebFaq .faqHeading h2 {
        font-size: 40px;
    }



    
    
}