.someToolBanner {
    padding-bottom: 110px;
}

.someToolBanner h1 {
    margin-bottom: 34px;
}
.someToolBanner h1 span span {
    color: #FF7919;
}


.someToolBanner h3 {
    font-size: 32px;
}



.someToolBanner .bannerFloat2 {
    bottom: unset;
    top: 355px;
    left: 11%;
}













.checkWebTool {
    position: relative;
    margin-bottom: 110px;
}

.checkWebTool .checkWebToolText {
    max-width: 982px;
    text-align: center;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-bottom: 57px;
}
.checkWebToolText h2 {
    font-size: 44px;
    font-weight: 600;
    color: #184463;
    margin-bottom: 20px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}


.checkWebToolText p {
    font-size: 24px;
}




.checkWebToolContent {
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}

.checkWebToolContent h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.checkWebToolConWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.checkWebToolSingleCon {
    /* width: calc(100% / 3 - 13px);
    margin-bottom: 20px; */
    padding: 12px;
    border-radius: 8px;
    background-color: #FFF3E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .checkWebToolSingleCon:nth-child(10), .checkWebToolSingleCon:nth-child(11), .checkWebToolSingleCon:last-child {
    margin-bottom: 0;
} */

.checkWebToolConLeft {
    display: flex;
    align-items: center;
}
.checkWebToolConImg {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 12px;
}




.checkWebToolFloat {
    position: absolute;
}



.checkWebToolFloat1 {
    top: 15px;
    right: 5%;
}

.checkWebToolFloat2 {
    top: 50%;
    right: 0;
}











.easyTool {
    margin-bottom: 110px;
}


.easyToolText {
    max-width: 1123px;
    text-align: center;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-bottom: 57px;
}
.easyToolText h2 {
    font-size: 44px;
    font-weight: 600;
    color: #184463;
    margin-bottom: 20px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}


.easyToolText p {
    font-size: 24px;
}






.easyToolContent {
    max-width: 1081px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.easyToolConLeft {
    width: calc(58% - 16px);
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}

.easyToolConLeft h3 {
    font-size: 24px;
    color: #184463;
    margin-bottom: 38px;
}

.easyToolConLeft form {
    width: 100%;
}

.easyToolConLeft form label {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.easyToolConLeft form input {
    width: 100%;
    height: 62px;
    padding: 0 16px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    margin-bottom: 24px;
}

.easyToolConLeft form input::placeholder {
    color: #E5E5E5;
}



.easyToolConLeftBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
}

.easyToolConLeftBtn button {
    width: 127px;
    height: 62px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #184463;
    color: #184463;
    font-size: 20px;
}

.easyToolConLeftBtn button:first-child {
    width: calc(100% - 127px - 16px);
    background-color: #184463;
    color: #fff;
}






.easyToolConRight {
    width: calc(42% - 16px);
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}

.easyToolConRight h3 {
    font-size: 24px;
    color: #184463;
    margin-bottom: 38px;
}

.easyToolConRight form {
    width: 100%;
}

.easyToolConRight form label, .easyToolConRight form p {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.easyToolConRight form input {
    width: 100%;
    height: 62px;
    padding: 0 16px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    margin-bottom: 24px;
}

.easyToolConRight form img {
    max-width: 100%;
}










.useTool {
    margin-bottom: 110px;
}


.useToolText {
    max-width: 1123px;
    text-align: center;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-bottom: 57px;
}
.useToolText h2 {
    font-size: 44px;
    font-weight: 600;
    color: #184463;
    margin-bottom: 20px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}


.useToolText p {
    font-size: 24px;
}





.useToolContent {
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}
.useToolContent h3 {
    font-size: 24px;
    margin-bottom: 20px;
}



.useToolConWrap {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.useToolSingleCon {
    /* width: calc(100% / 3 - 13px);
    margin-bottom: 20px; */
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(15, 175, 98, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.useToolConLeft {
    display: flex;
    align-items: center;
}

.useToolConImg {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 12px;
}









.freeProgram {
    position: relative;
    margin-bottom: 110px;
}

.freeProgram .freeProgramText {
    max-width: 1131px;
    text-align: center;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-bottom: 63px;
}
.freeProgramText h2 {
    font-size: 44px;
    font-weight: 600;
    color: #184463;
    font-family: "Sharp Grotesk Medium 20 Regular";
}




.freeProgramContent {
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}
.freeProgramContent h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.freeProgramConWrap {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.freeProgramSingleCon {
    /* width: calc(100% / 3 - 13px);
    margin-bottom: 20px; */
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(15, 175, 98, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.freeProgramConLeft {
    display: flex;
    align-items: center;
}

.freeProgramConImg {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 12px;
}













.accessTool {
    margin-bottom: 190px;
}


.accessToolContent {
    width: 100%;
    background-color: #184463;
    padding: 50px 99px;
    border-radius: 28px;
    text-align: center;
    position: relative;
}


.accessToolContent .compAccessTop {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.accessToolContent h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Sharp Grotesk Medium 20 Regular";
}

.accessToolContent button {
    width: 266px;
    height: 56px;
    background-color: #FF7919;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}






.accessToolFloat {
    position: absolute;
}

.accessToolFloat1 {
    top: 0;
    left: 0;
}

.accessToolFloat2 {
    bottom: 0;
    right: 0;
}