@import url(https://db.onlinewebfonts.com/c/f4a88c23d1f27870fb1e458ace76a752?family=Sharp+Grotesk+Book+20+Regular);
@import url(https://db.onlinewebfonts.com/c/ff43ca80668e47a1b1208ba9aed65ad2?family=Sharp+Grotesk+Medium+20+Regular);
@import url(https://db.onlinewebfonts.com/c/629ed6829f706958b9bdf4f6300dfca0?family=Sharp+Grotesk+SmBold+20+Regular);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sharp Grotesk Book 20 Regular";
    /* font-family: "Sharp Grotesk Medium 20 Regular"; */
    /* font-family: "Sharp Grotesk SmBold 20 Regular"; */
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}



.container {
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}







body {
    background-color: #FFF3E9;
}




header {
    padding: 32px 0;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container ul {
    display: flex;
    align-items: center;
}

header .container ul li {
    margin: 0 18px;
    color: #09090B;
}


header .headerCta {
    display: flex;
    align-items: center;
}

header .headerCta a {
    font-family: "Sharp Grotesk Medium 20 Regular";
    color: #1C1917;
}


header .headerCta button {
    width: 116px;
    height: 56px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #184463;
    color: #FAFAFA;
    font-size: 16px;
    font-family: "Sharp Grotesk Medium 20 Regular";
    margin-left: 25px;
}











.banner {
    padding: 100px 0;
    padding-bottom: 220px;
    text-align: center;
    position: relative;
}


.banner h3 {
    font-size: 16px;
    display: inline-block;
    padding: 13px 20px;
    background-color: #FF7919;
    color: #FAFAFA;
    border-radius: 18px;
    margin-bottom: 20px;
}



.banner h1 {
    font-size: 66px;
    color: #184463;
    margin-bottom: 65px;
    /* font-family: "Sharp Grotesk Medium 20 Regular"; */
}

.banner h1 span {
    font-family: "Sharp Grotesk SmBold 20 Regular";
}


.banner form {
    width: 714px;
    max-width: 90%;
    height: 92px;
    background-color: #fff;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.banner form input {
    width: calc(100% - 142px - 13px);
    height: 60px;
    border-radius: 16px;
    font-size: 16px;
    padding: 5px 23px;
    padding-right: 15px;
    border: none;
    background-color: #FFF3E9;
}

.banner form input::placeholder {
    font-size: 16px;
    color: #09090B;
}

.banner form button {
    width: 142px;
    height: 60px;
    font-size: 16px;
    color: #FAFAFA;
    background-color: #184463;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.bannerFloat {
    position: absolute;
}


.bannerFloat1 {
    left: 0;
    top: -30px;
}

.bannerFloat2 {
    left: 16%;
    bottom: 110px;
    transform: translateX(-50%);
}

.bannerFloat3 {
    bottom: 280px;
    right: 8%;
    transform: translateX(-50%);
}

.bannerFloat4 {
    bottom: -45px;
    right: 0;
}







.movingNews {
    width: 100%;
    height: 110px;
    background-color: #184463;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.movingNews .moveNewsText {
    width: 1487px;
    display: flex;
    align-items: center;
}
.movingNews .moveNewsText p {
    width: 1437px;
    font-size: 28px;
    font-weight: 600;
    color: #FAFAFA;
}

/* .movingNews h2 span {
    width: calc(100% - 10px);
    display: block;
} */
.movingNews .moveNewsText .moveFirstDot {
    width: 10px !important;
    height: 10px !important;
    display: block;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin-right: 15px;
    /* margin: 0 5px; */
}
.movingNews .moveNewsText .moveLastDot {
    width: 10px !important;
    height: 10px !important;
    display: block;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin-left: 15px;
    /* margin: 0 5px; */
}








.maxWebsite {
    padding: 115px 0;
    background-color: #BADEFF;
    position: relative;
    overflow: hidden;
}

.maxWebsite::before {
    width: 380px;
    height: 380px;
    border: 120px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 9%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.maxWebsite::after {
    width: 380px;
    height: 380px;
    border: 120px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    content: '';
    position: absolute;
    bottom: -19%;
    right: -8%;
    /* transform: translate(-50%, -50%); */
}


.maxWebsite .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}



.maxWebLeft {
    width: 46%;
}
.maxWebLeft h2 {
    font-size: 56px;
    color: #184463;
    margin-bottom: 20px;
}

.maxWebLeft h2 span {
    font-family: "Sharp Grotesk SmBold 20 Regular";
    font-weight: 800;
}


.maxWebLeft p {
    font-size: 16px;
    color: #09090B;
    margin-bottom: 25px;
}



.maxWebLeft button {
    width: 157px;
    height: 56px;
    border-radius: 20px;
    background-color: #184463;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
}





.maxWebRight {
    width: 72%;
    margin-right: -23%;
}

.maxWebRight img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}








.yourTool {
    padding: 100px 0;
    position: relative;
}
.yourTool .container {
    position: relative;
    z-index: 10;
}
.yourToolHeading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.yourToolHeading h2 {
    font-family: "Sharp Grotesk SmBold 20 Regular";
    font-size: 55px;
    font-weight: 600;
    color: #184463;
    margin-bottom: 6px;
}

.yourToolHeading h2 span {
    font-family: "Sharp Grotesk SmBold 20 Regular";
    color: #FF7919;
}


.yourToolHeading p {
    width: 560px;
    font-size: 16px;
    color: #09090B;
}





.yourToolContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singleYourTool {
    width: calc(25% - 15px);
    height: 266px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0;
    margin-bottom: 20px;
    text-align: center;
}

.singleYourTool h3 {
    font-size: 24px;
    color: #184463;
}




.yourTool button {
    width: 139px;
    height: 56px;
    font-size: 16px;
    background-color: #184463;
    color: #FAFAFA;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}




.yourToolFloating {
    position: absolute;
}

.yourToolFloating1 {
    top: 167px;
    left: 0;
}

.yourToolFloating2 {
    top: 46px;
    right: 12%;
    rotate: 20deg;
}

.yourToolFloating3 {
    right: 0;
    top: -100px;
}




.yourTool2 {
    padding-top: 0;
}