.verifyBanner {
    padding-bottom: 420px;
}


.verifyProg {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 98px;
}

.verifyProg span {
    width: 44px;
    height: 44px;
    background-color: #FF7919;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4.75px 23.77px 0px #00000040;
}

.verifyProg span:last-child {
    border: 7px solid #fff;
}

.verifyProg::before {
    width: calc(100% - 15px);
    height: 5px;
    background-color: #DDDDDD;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.verifyAccContent {
    text-align: center;
}

.verifyAccContent span {
    width: 111px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FF7919;
    margin: 0 auto;
    margin-bottom: 40px;
}

.verifyAccContent h3 {
    font-size: 32px;
    color: #184463;
    margin-bottom: 8px;
}

.verifyAccContent p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 48px;
}

.verifyAccContent p a {
    color: #FF7919;
}






.verifyFloat {
    bottom: 120px;
    right: 0;
}